.steps-container {
    color: #ffffff;
    background: black;
    text-align: center;
    padding: 40px 20px;
  }
  
  .steps-container h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .step {
    max-width: 300px;
    text-align: center;
  }
  .sh1 {
    color: white;
  }
  .step img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .steps-h3 {
    font-size: 90px;
    margin-bottom: 10px;
  }
  
  .step p {
    font-size: 16px;
    color: #ffffff;
  }
  
  .make-resume-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #88d66c;
  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .make-resume-button:hover {
    background-color: #2ab660ee;
  }
  .steps-h1 {
    font-weight: 650;
  }
  .steps-h3 {
    font-weight: 600;
  }
  .steps-container h2 {
    font-size: 45px;
  }
  .steps-container h3 {
    font-size: 22px;
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 200px;
  }
  
  .arrow::before, .arrow::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-right: 5px solid white;
    border-top: 5px solid white;
    transform: rotate(45deg);
    animation: moveArrow 1.5s infinite;
  }
  
  .arrow::after {
    animation-delay: 0.75s;
  }
  
  @keyframes moveArrow {
    0%, 100% {
      transform: translateX(0) rotate(45deg);
    }
    50% {
      transform: translateX(10px) rotate(45deg);
    }
  }
  
  