.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    overflow: hidden; 
    margin-bottom: 50px;
  }
  .lock{
    color: #2ab660ee;
  }
  .slider p {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    width: 70%;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
  }
  
  .logos-slide {
    display: flex;
    animation: slide 10s linear infinite; 
  }
  
  .logos img {
    height: 50px; 
    margin: 0 20px; 
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  