
 
  .main-contents {
    text-align: center;
    padding: 50px 20px;
    background: rgb(0, 0, 0); /* Gradient background */
    color: white;
    animation: fadeIn 2s ease-out;
    border: 1px solid #dedede; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    /* width: 1300px; */
  }
  
  .main-headings {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2ab660ee;
  }
  
  .sub-heading {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
  }
  
  .cta-button {
    background-color: #28a745; /* Green button */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cta-button:hover {
    background-color: #218838;
    transform: scale(1.1);
  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .feature-card {
    background-color: #fffffff0;
    padding: 20px;
    color: black;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    width: 100px;
    height: 4.0vh;
    opacity: 0;
    transform: translateY(20px);
    transition: background-color 0.3s, transform 0.3s, opacity 0.6s;
    border: 1px solid #dedede; /* Light grey border */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .feature-card.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .feature-card:hover {
    background-color: rgba(165, 159, 159, 0.537);
    transform: translateY(-10px);
  }
  
  .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .feature-card img.icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Adjust as needed */
  }
  
  .feature-card.visible {
    transform: scale(1.1);
  }
  
  .sub-heading {
    color: white;
    font-size: 23px;
    font-weight: 400;
  }
  
  /* Border design to mimic the example */
  .page-containers {
    border: 1px solid #dedede; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    margin: 20px;
    background-color: #ffffff; /* White background for contrast */
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }