.sign-body {
    width: 100%;
    min-height: 110vh;
    padding: 0 10px;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image: url("C:\Users\seshu\OneDrive\Desktop\ResumeBuilder\client\src\Home\unnamed-modified (2).jpg");
}

.signup_form {
    width: 630px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 20px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.signup_form h3 {
    font-size: 20px;
    text-align: center;
    color: #2ab660ee;
}

.signup_form .input_boxx label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #000;
}

.signup_form .input_boxx input {
    width: 90%;
    height: 57px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    outline: none;
    background: rgba(248, 248, 251, 0.8);
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

.signup_form .input_boxx input:focus {
    border-color: #2ab660ee;
}

.sign
{
    font-size: 30px;
    text-align: center;
    color:  #2ab660ee; 
}

.signup_form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #2ab660ee;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

.signup_form button:hover {
    background: #249b50;
}

.signup_form .sign_in {
    text-align: center;
    font-weight: 500;
    color: #000;
}

.signup_form .sign_in a {
    text-decoration: none;
    color: #2ab660ee;
    font-weight: 500;
}

.signup_form .sign_in a:hover {
    text-decoration: underline;
}


.password-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}


.password-container .input_boxx {
    flex: 1;
}

.password-container .input_boxx input {
    width: calc(100% - 40px); 
}